@font-face {
    font-family: 'sunny_spells_basicregular';
    src: url('../fonts/sunny_spells_basic-webfont.woff2') format('woff2'),
         url('../fonts/sunny_spells_basic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    font: 0.8rem   sans-serif, Verdana, Georgia;
    padding: 0.5em;
    letter-spacing: 0.07em;
    line-height: 1.4; 
}

#main-pic {
    width: 500px;
    height: 700px;
}

#sign-in-box {
    width: 800px;
    height: 700px;
    padding: 1em;
}

#inputs {
    border: 1.5px;
    border-style: outset;
    margin: 2em 0;
    padding: 1em;
}

#inputs fieldset {
    border: none;
}
label {
    display: block;
}
.input-group {
    display: flex;
    column-gap: 20px;
    padding: 0;
} 

#create {
    font-family: inherit;
}
