@font-face {
    font-family: 'sunny_spells_basicregular';
    src: url('../fonts/sunny_spells_basic-webfont.woff2') format('woff2'),
         url('../fonts/sunny_spells_basic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    font: 1.0rem   sans-serif, Verdana, Georgia;
}

#main-pic {
    width: 500px;
    height: 700px;
}

#sign-in-box {
    width: 800px;
    height: 700px;
}

#inputs {
    border: 3px;
    border-style: outset;
}

#create {
    font-family: inherit;
}
